<section class="galleryModuleType1">
	<h3 class="titleType1">Picture gallery</h3>
	<ul class="cf">
		<li><a class="zoomImage" href="{{ asset('bundles/app/images/gallery/galleryLarge1.jpg') }}"><img src="{{ asset('bundles/app/images/gallery/gallerySmall1.jpg') }}" alt="Image 1" /></a></li>
		<li><a class="zoomImage" href="{{ asset('bundles/app/images/gallery/galleryLarge2.jpg') }}"><img src="{{ asset('bundles/app/images/gallery/gallerySmall2.jpg') }}" alt="Image 1" /></a></li>
		<li><a class="zoomImage" href="{{ asset('bundles/app/images/gallery/galleryLarge3.jpg') }}"><img src="{{ asset('bundles/app/images/gallery/gallerySmall3.jpg') }}" alt="Image 1" /></a></li>
		<li><a class="zoomImage" href="{{ asset('bundles/app/images/gallery/galleryLarge4.jpg') }}"><img src="{{ asset('bundles/app/images/gallery/gallerySmall4.jpg') }}" alt="Image 1" /></a></li>
		<li><a class="zoomImage" href="{{ asset('bundles/app/images/gallery/galleryLarge5.jpg') }}"><img src="{{ asset('bundles/app/images/gallery/gallerySmall5.jpg') }}" alt="Image 1" /></a></li>
		<li><a class="zoomImage" href="{{ asset('bundles/app/images/gallery/galleryLarge6.jpg') }}"><img src="{{ asset('bundles/app/images/gallery/gallerySmall6.jpg') }}" alt="Image 1" /></a></li>
		<li><a class="zoomImage" href="{{ asset('bundles/app/images/gallery/galleryLarge7.jpg') }}"><img src="{{ asset('bundles/app/images/gallery/gallerySmall7.jpg') }}" alt="Image 1" /></a></li>
		<li><a class="zoomImage" href="{{ asset('bundles/app/images/gallery/galleryLarge8.jpg') }}"><img src="{{ asset('bundles/app/images/gallery/gallerySmall8.jpg') }}" alt="Image 1" /></a></li>
		<li><a class="zoomImage" href="{{ asset('bundles/app/images/gallery/galleryLarge9.jpg') }}"><img src="{{ asset('bundles/app/images/gallery/gallerySmall9.jpg') }}" alt="Image 1" /></a></li>
		<li><a class="zoomImage" href="{{ asset('bundles/app/images/gallery/galleryLarge10.jpg') }}"><img src="{{ asset('bundles/app/images/gallery/gallerySmall10.jpg') }}" alt="Image 1" /></a></li>
		<li><a class="zoomImage" href="{{ asset('bundles/app/images/gallery/galleryLarge11.jpg') }}"><img src="{{ asset('bundles/app/images/gallery/gallerySmall11.jpg') }}" alt="Image 1" /></a></li>
		<li><a class="zoomImage" href="{{ asset('bundles/app/images/gallery/galleryLarge12.jpg') }}"><img src="{{ asset('bundles/app/images/gallery/gallerySmall12.jpg') }}" alt="Image 1" /></a></li>
	</ul>
	<a href="#" class="btnType1"><span>view more</span></a>
</section>
