{% extends (noLayout is defined and noLayout == true) ? "AppBundle:layouts:noLayout.html.twig" : "AppBundle:layouts:main.html.twig" %}

{% block stylesheets %}{% stylesheets
	'bundles/app/css/controllers/homepage.css'
%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
        'bundles/app/js/builds/homepage.js'
    %}
    <script async src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}

<header class="mainHeader">
	<div class="fitWrap">
		<a href="/" title="Go to homepage" class="logo iconOctopus icr">I'm neked!</a>
		<form class="mainSearch" action="search-autocomplete">
			<input autocomplete="off" class="query" type="text" placeholder="Search for a perfect day to spend a day" name="query" />
			<button class="btnSubmit iconSearch icr nBtn" type="submit">Click me hard</button>
		</form>
	</div>
	<nav class="mainNav">
		<div class="fitWrap cf">
			<ul>
				<li><a class="selected" href="#">Homepage</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Work</a></li>
				<li><a href="#">Journal</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			<a href="#" class="signIn iconUser">Sign in</a>
		</div>
	</nav>
</header>

<div class="mainContentArea homepageLayout fitWrap cf">
	<div class="mainCol">

		<div class="sliderType1">
			<ul>
				{% for i in 1..3 %}
				<li>
					<a class="articleType1" href="#">
						<img src="{{ asset('bundles/app/images/articleType1_1.jpg') }}" alt="A Dutch company is  building a $335 million  seawall around New York">
						<h3 class="title">A Dutch company is  building a $335 million  seawall around New York</h3>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>

		<ul class="articleListType1 cf">
			{% for i in 1..4 %}
			<li>
				<article class="articleType2">
					<a href="#" class="imageCont">
						<img src="{{ asset('bundles/app/images/articleType2_1.jpg') }}" alt="">
					</a>
					<h3 class="title"><a href="#">A Dutch company is  building a $335 million  seawall around New York</a></h3>
					<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, alias non ad autem repellat, fugiat soluta quisquam, quae laudantium cumque inventore libero aliquam. Perferendis quod veritatis officiis in similique corporis.</p>
					<ul class="controls">
						<li><a class="iconHeart" href="#"><strong>300</strong> likes</a></li>
						<li><a class="iconComment" href="#"><strong>35</strong> comments</a></li>
						<li><a class="iconStopWatch" href="#"><strong>5</strong> min read</a></li>
					</ul>
				</article>
			</li>
			{% endfor %}
		</ul>

	</div>

	<div class="sideCol">

		<section class="listModuleType1">
			<h3 class="titleType1">One list to rule them all</h3>
			<ol>
				<li>First! OMG!</li>
				<li>is sequel</li>
				<li>all for one</li>
				<li>I am number</li>
				<li>is the element</li>
				<li>is the big hero</li>
				<li>Lucky number</li>
				<li>is super</li>
				<li>in deep space</li>
				<li>comes from 1979</li>
			</ol>
			<a href="#" class="btnType1"><span>view more</span></a>
		</section>

		<section class="galleryModuleType1">
			<h3 class="titleType1">Picture gallery</h3>
			<ul class="cf">
				<li><a href="{{ asset('bundles/app/images/gallery/galleryLarge1.jpg') }}"><img src="{{ asset('bundles/app/images/gallery/gallerySmall1.jpg') }}" alt="Image 1" /></a></li>
				<li><a href="{{ asset('bundles/app/images/gallery/galleryLarge2.jpg') }}"><img src="{{ asset('bundles/app/images/gallery/gallerySmall2.jpg') }}" alt="Image 1" /></a></li>
				<li><a href="{{ asset('bundles/app/images/gallery/galleryLarge3.jpg') }}"><img src="{{ asset('bundles/app/images/gallery/gallerySmall3.jpg') }}" alt="Image 1" /></a></li>
				<li><a href="{{ asset('bundles/app/images/gallery/galleryLarge4.jpg') }}"><img src="{{ asset('bundles/app/images/gallery/gallerySmall4.jpg') }}" alt="Image 1" /></a></li>
				<li><a href="{{ asset('bundles/app/images/gallery/galleryLarge5.jpg') }}"><img src="{{ asset('bundles/app/images/gallery/gallerySmall5.jpg') }}" alt="Image 1" /></a></li>
				<li><a href="{{ asset('bundles/app/images/gallery/galleryLarge6.jpg') }}"><img src="{{ asset('bundles/app/images/gallery/gallerySmall6.jpg') }}" alt="Image 1" /></a></li>
				<li><a href="{{ asset('bundles/app/images/gallery/galleryLarge7.jpg') }}"><img src="{{ asset('bundles/app/images/gallery/gallerySmall7.jpg') }}" alt="Image 1" /></a></li>
				<li><a href="{{ asset('bundles/app/images/gallery/galleryLarge8.jpg') }}"><img src="{{ asset('bundles/app/images/gallery/gallerySmall8.jpg') }}" alt="Image 1" /></a></li>
				<li><a href="{{ asset('bundles/app/images/gallery/galleryLarge9.jpg') }}"><img src="{{ asset('bundles/app/images/gallery/gallerySmall9.jpg') }}" alt="Image 1" /></a></li>
				<li><a href="{{ asset('bundles/app/images/gallery/galleryLarge10.jpg') }}"><img src="{{ asset('bundles/app/images/gallery/gallerySmall10.jpg') }}" alt="Image 1" /></a></li>
				<li><a href="{{ asset('bundles/app/images/gallery/galleryLarge10.jpg') }}"><img src="{{ asset('bundles/app/images/gallery/gallerySmall11.jpg') }}" alt="Image 1" /></a></li>
				<li><a href="{{ asset('bundles/app/images/gallery/galleryLarge10.jpg') }}"><img src="{{ asset('bundles/app/images/gallery/gallerySmall12.jpg') }}" alt="Image 1" /></a></li>
			</ul>
			<a href="#" class="btnType1"><span>view more</span></a>
		</section>

		<section class="listModuleType2">
			<h3 class="titleType1">Featured articles</h3>
			<ul>
				{% for i in 1..5 %}
				<li>
					<a href="#" class="articleType3">
						<div class="imageCont">
							<img src="{{ asset('bundles/app/images/gallery/gallerySmall3.jpg') }}" alt="">
						</div>
						<h3 class="title">Item title</h3>
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</a>
				</li>
				{% endfor %}
			</ul>
			<a href="#" class="btnType1"><span>view more</span></a>
		</section>

	</div>

</div>

<footer class="mainFooter">
	<div class="fitWrap cf">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi veniam at iure facilis quis. Porro possimus quae, libero aut expedita dolorem odio nihil amet est eaque corporis repellendus consequuntur repudiandae.
		</p>
		<p class="copyRight">Copyright &copy; 2015 Trikoder</p>
	</div>
</footer>

{% endblock %}
